.navbar {
    height: 10vh;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color:skyblue;
}

.btn {
    padding: 12px 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0%;
    transition:all ease-in-out .5s;
}

.btn-brand {
    background-color:skyblue;
    color:rgb(0, 0, 0);
}

.btn-brand:hover {
    border: 2px solid pink;
    color:rgb(165, 42, 114);
}
.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
}

#banner {
    background: url('Rose.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color:rgb(28, 190, 28);
}

#banner p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(182, 83, 83);
}
.card-img-top {
    width: 50%

 }
 
 .card {
    padding: 25px 20px; 
    border: 3px solid darkmagenta;
    transition: all ease-in .4s;

 } 
 .card:hover {
    box-shadow: 0 0 45px 0 #304443;
    transform: scale(1.1);
    background-color: blueviolet;
 }

 .card:hover .card-title,
 .card:hover .card-text {
    color: white;
 }
    
 section {
    padding: 100px 0;

 }

 #sugpon h2 {
 font-family:'Times New Roman', Times, serif;
font-size: 65px;
color:darkmagenta;
margin-bottom: 30px;

 
 }

 #about {
    background-color: violet;
}

#about img{
    border: 5px solid palegreen;
}

#about .btn-brand {
    background-color: palegreen;
    color: yellow;
}

#about h2{
    color: palegreen;
    font-size: 95px;
}
 .wew{
    width: 65px;
     
 }

 .testimonials{
    border: 3px solid violet;
    padding: 20px;
    background-color: rebeccapurple (189,228,206);
    transition: all ease-in .4s;
    margin-top: 20px;

 }

 .testimontials:hover{
    transform: scale(1,1);

 }

 #reviews h2 {
font-size: 55px;

 }

 
#faq{
    background-color: rgb(245, 26, 146);
}
    
.faq-section {
max-width: 800px;
margin: auto;
}
.acccordion {
    background-color:pink;
    color: white;
    border-bottom: 1px solid yellow;
    border-radius: 0 !important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-body {
    border-left: 3px solid red ;
    padding: 10px 25px;
    margin-left: 0;
    background-color: yellow;
    color: white;
}

.acccordion-button:not(.collapsed) {
    background-color: red;
    color: white;
}

.accordion-button:hover{
    background-color:pink;
    color: black;
}

#footer {
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: black;
    }
#footer ul.list-unstyled li a{
    color: #ffffff;
    text-decoration: none;
}
#footer ul.list-unstyled li a:hover{
    color: blueviolet;
}
#footer button {
    border-radius: 1px;
}
@media screen and (max-width: 768px) {
    .navbar{
        height: auto;
    }
    #banner h1{
        font-size: 40px !important;
    }
    #sugpon h2{
        font-size: 40px !important;
    }
    #sugpon .col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section {
        padding: 60px 20px !important;
    }

    #footer {
        padding: 60px 20px !important;
    }
    #about img{
        height: 410px;
        width: 250px !important;
        margin: 0 auto;
        object-fit: cover;
    }
    #about h2{
        font-size: 40px !important;
    }
}   

 
